In [28]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cross_validation import KFold, cross_val_score
from sklearn.preprocessing import scale

In [29]:
df = pd.read_csv('wine.data', header=None, names = ['Class',' Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash', 'Magnesium', 'Total phenols', 'Flavanoids', 
                                   'Nonflavanoid phenols', 'Proanthocyanins', 'Color intensity', 'Hue', 'OD280/OD315 of diluted wines',
                                   'Proline'])

In [30]:
df.head(5)

,Class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [31]:
y = df['Class']
X = df.iloc[:, 1:]
X.head(5)

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [32]:
X1 = scale(X)
X1

array([[ 1.51861254, -0.5622498 ,  0.23205254, ...,  0.36217728,
         1.84791957,  1.01300893],
       [ 0.24628963, -0.49941338, -0.82799632, ...,  0.40605066,
         1.1134493 ,  0.96524152],
       [ 0.19687903,  0.02123125,  1.10933436, ...,  0.31830389,
         0.78858745,  1.39514818],
       ...,
       [ 0.33275817,  1.74474449, -0.38935541, ..., -1.61212515,
        -1.48544548,  0.28057537],
       [ 0.20923168,  0.22769377,  0.01273209, ..., -1.56825176,
        -1.40069891,  0.29649784],
       [ 1.39508604,  1.58316512,  1.36520822, ..., -1.52437837,
        -1.42894777, -0.59516041]])

In [39]:
cr_val = KFold(df.shape[0], n_folds=5, shuffle=True, random_state=42)

In [41]:
scores = []
for i in range(1,51):
    cfr = KNeighborsClassifier(n_neighbors=i)
    res = cross_val_score(cfr, X, y, cv=cr_val).mean()
    scores.append((i, res))
    print('{:2d} -> {:.2f}'.format(i,res))

 1 -> 0.73
 2 -> 0.66
 3 -> 0.71
 4 -> 0.66
 5 -> 0.67
 6 -> 0.67
 7 -> 0.68
 8 -> 0.68
 9 -> 0.70
10 -> 0.68
11 -> 0.70
12 -> 0.70
13 -> 0.69
14 -> 0.68
15 -> 0.70
16 -> 0.68
17 -> 0.70
18 -> 0.68
19 -> 0.68
20 -> 0.69
21 -> 0.70
22 -> 0.70
23 -> 0.70
24 -> 0.71
25 -> 0.70
26 -> 0.70
27 -> 0.70
28 -> 0.71
29 -> 0.71
30 -> 0.71
31 -> 0.69
32 -> 0.71
33 -> 0.71
34 -> 0.72
35 -> 0.72
36 -> 0.71
37 -> 0.71
38 -> 0.71
39 -> 0.71
40 -> 0.71
41 -> 0.71
42 -> 0.71
43 -> 0.71
44 -> 0.71
45 -> 0.71
46 -> 0.71
47 -> 0.70
48 -> 0.72
49 -> 0.70
50 -> 0.71

In [44]:
sorted(scores, key=lambda x: x[1],reverse=True)[0]

(1, 0.7304761904761905)

In [46]:
scores_sc = []
for i in range(1,51):
    cfr = KNeighborsClassifier(n_neighbors=i)
    res = cross_val_score(cfr, X1, y, cv=cr_val).mean()
    scores_sc.append((i, res))

In [47]:
sorted(scores_sc, key=lambda x: x[1],reverse=True)[0]

(29, 0.9776190476190475)