### 1. Воздушные перевозки

Скачайте и распакуте следующий [архив](http://stat-computing.org/dataexpo/2009/2008.csv.bz2). Описание полей таблицы дано [здесь](http://www.transtats.bts.gov/Fields.asp?Table_ID=236).

Данные должны содержать перелеты воздушных судов в 2008 году (вероятно в США)

In [1]:
import matplotlib.pyplot as plt
from mpl_toolkits import mplot3d
import numpy as np
import scipy.optimize as opt
import sympy
import pandas as pd
plt.style.use('ggplot')

%matplotlib inline

**Задание 1:** Рассчитать топ-10 массовых перевозчиков.

In [170]:
df1 = pd.read_csv('2008.csv')

In [300]:
print(df1.size)
print(df1.shape)
print(df1.columns.values)
print(df1.index.values)

203282112
(7009728, 29)
['Year' 'Month' 'DayofMonth' 'DayOfWeek' 'DepTime' 'CRSDepTime' 'ArrTime'
 'CRSArrTime' 'UniqueCarrier' 'FlightNum' 'TailNum' 'ActualElapsedTime'
 'CRSElapsedTime' 'AirTime' 'ArrDelay' 'DepDelay' 'Origin' 'Dest'
 'Distance' 'TaxiIn' 'TaxiOut' 'Cancelled' 'CancellationCode' 'Diverted'
 'CarrierDelay' 'WeatherDelay' 'NASDelay' 'SecurityDelay'
 'LateAircraftDelay']
[      0       1       2 ..., 7009725 7009726 7009727]

In [327]:
car = df1['UniqueCarrier'].value_counts(ascending = False).head(10)
carrier = pd.DataFrame({'Airplane code' : car.keys(),
                   'Number of Flights' : car.values}, index = [x for x in range (1,11)])
carrier

   Airplane code  Number of Flights
1             WN            1201754
2             AA             604885
3             OO             567159
4             MQ             490693
5             US             453589
6             DL             451931
7             UA             449515
8             XE             374510
9             NW             347652
10            CO             298455

# **Задание 2:** Построить распределение причин отмены рейсов

In [302]:
cc = df1['CancellationCode'].dropna(how='any').value_counts()
concell = pd.DataFrame({'Number' : cc.values,'Reason' : cc.keys()}, index = [x for x in range(1,5)])
concell

   Number Reason
1   54904      B
2   54330      A
3   28188      C
4      12      D

Взяв нужный столбец, убрали все рейсы, в которых не было отмены.

**Задание 3:** Найти самый популярный маршрут, выдать статистику по данному маршруту.

In [303]:
df1_pop = df1.groupby(['Origin','Dest']).size().sort_values(ascending = False).iloc[:1]
df1_pop

Origin  Dest
SFO     LAX     13788
dtype: int64

In [304]:
df1[(df1['Origin'] == 'SFO') & (df1['Dest'] == 'LAX')].describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,13788,13788.000000,13788.000000,13788.000000,13299.000000,13788.000000,13286.000000,13788.000000,13788.000000,13285.000000,...,13788,13286.000000,13299.000000,13788.000000,13788.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000
mean,2008,6.337322,15.730418,3.862997,1371.032408,1356.596388,1481.378820,1493.550116,1862.825573,82.417840,...,337,9.912163,17.273554,0.035466,0.001015,9.689688,0.360280,7.630808,0.026416,42.157225
std,0,3.358147,8.791381,1.973866,489.328348,472.940974,502.009856,473.465680,1999.167552,10.184247,...,0,5.120369,7.126813,0.184960,0.031850,27.959199,8.216006,16.685259,1.009160,46.774688
min,2008,1.000000,1.000000,1.000000,3.000000,540.000000,1.000000,5.000000,4.000000,58.000000,...,337,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2008,3.000000,8.000000,2.000000,941.000000,945.000000,1054.000000,1110.000000,817.000000,75.000000,...,337,7.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000
50%,2008,6.000000,16.000000,4.000000,1355.000000,1315.000000,1507.000000,1443.000000,1153.000000,81.000000,...,337,9.000000,16.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,28.000000
75%,2008,9.000000,23.000000,5.000000,1809.000000,1756.000000,1919.000000,1920.000000,1957.000000,88.000000,...,337,12.000000,20.000000,0.000000,0.000000,7.000000,0.000000,11.000000,0.000000,64.000000
max,2008,12.000000,31.000000,7.000000,2400.000000,2240.000000,2400.000000,2359.000000,7815.000000,196.000000,...,337,106.000000,84.000000,1.000000,1.000000,339.000000,406.000000,401.000000,54.000000,373.000000

**Задание 4:** Найти топ-5 рейсов по каждому из типов delay. Каким перевозчикам они принадлежат?

По каждому из типов задержек сделали сортировку, вывели первые пять задержек по времени.

In [260]:
print('Carrier delay', df1['CarrierDelay'].sort_values(ascending = False).head(5), sep = '\n', end = '\n\n')
print('WeatherDelay', df1['WeatherDelay'].sort_values(ascending = False).head(5), sep = '\n', end = '\n\n')
print('NASDelay', df1['NASDelay'].sort_values(ascending = False).head(5), sep = '\n', end = '\n\n')
print('SecurityDelay', df1['SecurityDelay'].sort_values(ascending = False).head(5), sep = '\n', end = '\n\n')
print('LateAircraftDelay', df1['LateAircraftDelay'].sort_values(ascending = False).head(5), sep = '\n')

Carrier delay
2235378    2436
2832617    1951
3387883    1707
5232546    1552
2232494    1542
Name: CarrierDelay, dtype: float64

WeatherDelay
6842014    1352
6868167    1297
6932676    1225
6916589    1153
1098428    1148
Name: WeatherDelay, dtype: float64

NASDelay
503727     1357
4117650    1337
1705852    1289
2189463    1207
1030111    1195
Name: NASDelay, dtype: float64

SecurityDelay
2116823    392
5231914    357
3114684    284
3100409    280
6575811    254
Name: SecurityDelay, dtype: float64

LateAircraftDelay
4099781    1316
5039477    1303
1426738    1254
6308375    1236
1620103    1184
Name: LateAircraftDelay, dtype: float64

**Задание 5:** Определить, как распределено количество рейсов от времени дня?

По столбцу времени отправления сделали 4 разделения на периоды дняб затем посчитали количество вылетов для каждого периода и получили следующие выводы:

In [261]:
print('Morning', df1['DepTime'][(df1['DepTime'] > 600) & (df1['DepTime'] < 1200)].count(), sep = '\n', end = '\n\n')
print('Day', df1['DepTime'][(df1['DepTime'] > 1200) & (df1['DepTime'] < 1800)].count(), sep = '\n', end = '\n\n')
print('Evening', df1['DepTime'][(df1['DepTime'] > 1800) & (df1['DepTime'] < 2400)].count(), sep = '\n', end = '\n\n')
print('Night', df1['DepTime'][(df1['DepTime'] > 0) & (df1['DepTime'] < 600)].count(), sep = '\n')

Morning
2627237

Day
2544966

Evening
1485283

Night
179949

**Задание 6:** Определить "сезонность" во временных рядах по количеству вылетов на каждый день.

### 2. Продолжаем изучать Pandas

Ввиду ограниченности времени, мы не успеваем рассмотреть всё на семинарах. Поэтому часть работы ложится на вас..

Загрузите две csv таблицы [отсюда](https://github.com/emorisse/FBI-Hate-Crime-Statistics) и импортируйте через Pandas. В них содержатся агрегированные данные по различным организациям\городам США, содержащие количество обращений по тем или иным случаям нарушения закона. В одной таблице (table13.csv) перечислены управления, которые сообщали об этих случаях, в другой - которые не сообщали.

**Задание 1:** Изучите документации для методов `unique_values`, `isin`. С помощью этой функции, определите, содержатся ли в двух таблицах одни и те же штаты.

In [139]:
df_tab1 = pd.read_csv('table13.csv')
df_tab2 = pd.read_csv('table14.csv')

In [313]:
print(df_tab1.shape)
print(df_tab1.size)
print(df_tab1.columns.values)
print(df_tab1.index.values)

(1826, 15)
27390
['State' 'Agency type' 'Agency name' 'Race' 'Religion' 'Sexual orientation'
 'Ethnicity' 'Disability' 'Gender' 'Gender Identity' '1st quarter'
 '2nd quarter' '3rd quarter' '4th quarter' 'Population']
[   0    1    2 ..., 1823 1824 1825]

In [314]:
print(df_tab2.shape)
print(df_tab2.size)
print(df_tab2.columns.values)
print(df_tab2.index.values)

(12826, 8)
102608
['State' 'Agency Type' 'Agency Name' 'Q1' 'Q2' 'Q3' 'Q4' 'Population']
[    0     1     2 ..., 12823 12824 12825]

In [318]:
print('Tab1 in Tab2\'s elements', df_tab1['State'][df_tab1['State'].isin(df_tab2['State']) == True].count(), sep = '\n', end = '\n\n')
print('Tab2 in Tab1\'s elements', df_tab2['State'][df_tab2['State'].isin(df_tab1['State']) == True].count(), sep = '\n')

Tab1 in Tab2's elements
1819

Tab2 in Tab1's elements
12826

Второе значение полностью совпадает с количеством штатов во второй таблице, значит, все штаты 2 таблицы содержатся в 1 табл., но не все штаты 1 табл. есть во 2табл.

**Задание 2:** Изучите документации для методов `append`, `merge` и `concat`. Совместите две таблицы в одну.

In [316]:
app_1 = df_tab2.append(df_tab1, ignore_index = True)
app_1

,1st quarter,2nd quarter,3rd quarter,4th quarter,Agency Name,Agency Type,Agency name,Agency type,Disability,Ethnicity,...,Gender Identity,Population,Q1,Q2,Q3,Q4,Race,Religion,Sexual orientation,State
0,NaN,NaN,NaN,NaN,Ashford,Cities,NaN,NaN,NaN,NaN,...,NaN,"2,177",0,0,0,0,NaN,NaN,NaN,Alabama
1,NaN,NaN,NaN,NaN,Ashland,Cities,NaN,NaN,NaN,NaN,...,NaN,"1,926",0,0,0,0,NaN,NaN,NaN,Alabama
2,NaN,NaN,NaN,NaN,Auburn,Cities,NaN,NaN,NaN,NaN,...,NaN,"57,970",0,0,0,0,NaN,NaN,NaN,Alabama
3,NaN,NaN,NaN,NaN,Berry,Cities,NaN,NaN,NaN,NaN,...,NaN,"1,124",NaN,0,NaN,NaN,NaN,NaN,NaN,Alabama
4,NaN,NaN,NaN,NaN,Childersburg,Cities,NaN,NaN,NaN,NaN,...,NaN,"5,111",0,0,0,0,NaN,NaN,NaN,Alabama
5,NaN,NaN,NaN,NaN,Courtland,Cities,NaN,NaN,NaN,NaN,...,NaN,607,0,0,0,0,NaN,NaN,NaN,Alabama
6,NaN,NaN,NaN,NaN,Demopolis,Cities,NaN,NaN,NaN,NaN,...,NaN,"7,240",0,0,0,0,NaN,NaN,NaN,Alabama
7,NaN,NaN,NaN,NaN,Eclectic,Cities,NaN,NaN,NaN,NaN,...,NaN,"1,015",0,0,0,0,NaN,NaN,NaN,Alabama
8,NaN,NaN,NaN,NaN,Enterprise,Cities,NaN,NaN,NaN,NaN,...,NaN,"28,145",0,0,0,0,NaN,NaN,NaN,Alabama
9,NaN,NaN,NaN,NaN,Eutaw,Cities,NaN,NaN,NaN,NaN,...,NaN,"2,871",0,0,0,0,NaN,NaN,NaN,Alabama
10,NaN,NaN,NaN,NaN,Fairhope,Cities,NaN,NaN,NaN,NaN,...,NaN,"16,847",0,0,0,0,NaN,NaN,NaN,Alabama
11,NaN,NaN,NaN,NaN,Foley,Cities,NaN,NaN,NaN,NaN,...,NaN,"15,615",0,0,0,0,NaN,NaN,NaN,Alabama
12,NaN,NaN,NaN,NaN,Gadsden,Cities,NaN,NaN,NaN,NaN,...,NaN,"36,610",0,0,0,0,NaN,NaN,NaN,Alabama
13,NaN,NaN,NaN,NaN,Geneva,Cities,NaN,NaN,NaN,NaN,...,NaN,"4,501",0,0,0,0,NaN,NaN,NaN,Alabama
14,NaN,NaN,NaN,NaN,Glencoe,Cities,NaN,NaN,NaN,NaN,...,NaN,"5,222",0,0,NaN,NaN,NaN,NaN,NaN,Alabama
15,NaN,NaN,NaN,NaN,Guntersville,Cities,NaN,NaN,NaN,NaN,...,NaN,"8,388",0,0,0,0,NaN,NaN,NaN,Alabama
16,NaN,NaN,NaN,NaN,Hanceville,Cities,NaN,NaN,NaN,NaN,...,NaN,"3,173",0,0,0,0,NaN,NaN,NaN,Alabama
17,NaN,NaN,NaN,NaN,Huntsville,Cities,NaN,NaN,NaN,NaN,...,NaN,"184,738",0,0,0,0,NaN,NaN,NaN,Alabama
18,NaN,NaN,NaN,NaN,Irondale,Cities,NaN,NaN,NaN,NaN,...,NaN,"12,452",0,0,0,0,NaN,NaN,NaN,Alabama
19,NaN,NaN,NaN,NaN,Jasper,Cities,NaN,NaN,NaN,NaN,...,NaN,"14,185",0,0,0,0,NaN,NaN,NaN,Alabama
20,NaN,NaN,NaN,NaN,Lafayette,Cities,NaN,NaN,NaN,NaN,...,NaN,"2,982",0,0,0,0,NaN,NaN,NaN,Alabama
21,NaN,NaN,NaN,NaN,Level Plains,Cities,NaN,NaN,NaN,NaN,...,NaN,"2,092",0,0,0,0,NaN,NaN,NaN,Alabama
22,NaN,NaN,NaN,NaN,Midland City,Cities,NaN,NaN,NaN,NaN,...,NaN,"2,476",0,0,0,0,NaN,NaN,NaN,Alabama
23,NaN,NaN,NaN,NaN,Mobile,Cities,NaN,NaN,NaN,NaN,...,NaN,"250,557",0,0,0,0,NaN,NaN,NaN,Alabama
24,NaN,NaN,NaN,NaN,Muscle Shoals,Cities,NaN,NaN,NaN,NaN,...,NaN,"13,431",0,0,0,0,NaN,NaN,NaN,Alabama
25,NaN,NaN,NaN,NaN,Oneonta,Cities,NaN,NaN,NaN,NaN,...,NaN,"6,661",0,0,0,0,NaN,NaN,NaN,Alabama
26,NaN,NaN,NaN,NaN,Opp,Cities,NaN,NaN,NaN,NaN,...,NaN,"6,698",0,0,0,0,NaN,NaN,NaN,Alabama
27,NaN,NaN,NaN,NaN,Pelham,Cities,NaN,NaN,NaN,NaN,...,NaN,"22,199",0,0,0,0,NaN,NaN,NaN,Alabama
28,NaN,NaN,NaN,NaN,Rainbow City,Cities,NaN,NaN,NaN,NaN,...,NaN,"9,683",0,0,0,0,NaN,NaN,NaN,Alabama
29,NaN,NaN,NaN,NaN,Samson,Cities,NaN,NaN,NaN,NaN,...,NaN,"1,940",0,0,0,0,NaN,NaN,NaN,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14622,0,0,0,1,NaN,NaN,Moundsville,Cities,0,0,...,0,"9,130",NaN,NaN,NaN,NaN,1,0,0,West_Virginia
14623,0,6,8,0,NaN,NaN,Oak Hill,Cities,0,0,...,0,"7,709",NaN,NaN,NaN,NaN,14,0,0,West_Virginia
14624,0,0,1,0,NaN,NaN,Wellsburg,Cities,0,0,...,0,"2,760",NaN,NaN,NaN,NaN,1,0,0,West_Virginia
14625,1,1,2,0,NaN,NaN,Brooke,Metropolitan Counties,0,0,...,0,NaN,NaN,NaN,NaN,NaN,4,0,0,West_Virginia
14626,0,0,1,1,NaN,NaN,Fayette,Metropolitan Counties,0,0,...,0,NaN,NaN,NaN,NaN,NaN,1,0,1,West_Virginia
14627,0,0,1,1,NaN,NaN,Hancock,Metropolitan Counties,0,0,...,0,NaN,NaN,NaN,NaN,NaN,2,0,0,West_Virginia
14628,0,0,2,2,NaN,NaN,Harrison,Nonmetropolitan Counties,0,0,...,0,NaN,NaN,NaN,NaN,NaN,1,1,2,West_Virginia
14629,0,1,0,0,NaN,NaN,McDowell,Nonmetropolitan Counties,0,0,...,0,NaN,NaN,NaN,NaN,NaN,1,0,0,West_Virginia
14630,0,0,2,0,NaN,NaN,Algoma,Cities,0,0,...,0,"3,143",NaN,NaN,NaN,NaN,1,1,0,Wisconsin
14631,0,2,0,0,NaN,NaN,Appleton,Cities,0,0,...,0,"73,141",NaN,NaN,NaN,NaN,0,0,2,Wisconsin
14632,0,0,0,1,NaN,NaN,Burlington,Cities,0,0,...,0,"10,502",NaN,NaN,NaN,NaN,1,0,0,Wisconsin
14633,0,1,0,1,NaN,NaN,Fond du Lac,Cities,0,1,...,0,"43,042",NaN,NaN,NaN,NaN,1,0,0,Wisconsin
14634,1,0,1,0,NaN,NaN,Green Bay,Cities,0,0,...,0,"105,107",NaN,NaN,NaN,NaN,1,0,1,Wisconsin
14635,0,1,1,0,NaN,NaN,Janesville,Cities,0,0,...,0,"63,603",NaN,NaN,NaN,NaN,2,0,0,Wisconsin
14636,0,1,1,0,NaN,NaN,La Crosse,Cities,0,0,...,0,"51,741",NaN,NaN,NaN,NaN,0,0,2,Wisconsin
14637,3,5,2,2,NaN,NaN,Madison,Cities,0,5,...,0,"242,523",NaN,NaN,NaN,NaN,3,1,3,Wisconsin
14638,0,1,0,0,NaN,NaN,Merrill,Cities,0,1,...,0,"9,427",NaN,NaN,NaN,NaN,0,0,0,Wisconsin
14639,1,3,4,1,NaN,NaN,Milwaukee,Cities,0,0,...,0,"600,805",NaN,NaN,NaN,NaN,5,1,3,Wisconsin
14640,2,0,0,0,NaN,NaN,Oak Creek,Cities,0,1,...,0,"35,046",NaN,NaN,NaN,NaN,0,1,0,Wisconsin
14641,2,0,0,0,NaN,NaN,River Falls,Cities,0,0,...,0,"15,227",NaN,NaN,NaN,NaN,2,0,0,Wisconsin
14642,0,1,0,0,NaN,NaN,Sparta,Cities,0,0,...,0,"9,623",NaN,NaN,NaN,NaN,1,0,0,Wisconsin
14643,1,0,0,0,NaN,NaN,Wausau,Cities,0,0,...,0,"39,176",NaN,NaN,NaN,NaN,1,0,0,Wisconsin
14644,3,0,0,0,NaN,NaN,"University of Wisconsin, Platteville",Universities and Colleges,0,0,...,0,"8,668",NaN,NaN,NaN,NaN,0,1,2,Wisconsin
14645,1,0,0,0,NaN,NaN,Dane,Metropolitan Counties,0,0,...,0,NaN,NaN,NaN,NaN,NaN,1,0,0,Wisconsin
14646,0,0,0,1,NaN,NaN,Burnett,Nonmetropolitan Counties,0,0,...,0,NaN,NaN,NaN,NaN,NaN,0,0,1,Wisconsin
14647,0,1,0,0,NaN,NaN,Grant,Nonmetropolitan Counties,0,0,...,0,NaN,NaN,NaN,NaN,NaN,1,0,0,Wisconsin
14648,1,0,0,0,NaN,NaN,Lincoln,Nonmetropolitan Counties,0,0,...,0,NaN,NaN,NaN,NaN,NaN,0,0,1,Wisconsin
14649,0,1,0,0,NaN,NaN,Manitowoc,Nonmetropolitan Counties,0,0,...,0,NaN,NaN,NaN,NaN,NaN,1,0,0,Wisconsin
14650,0,1,0,0,NaN,NaN,Oneida,Nonmetropolitan Counties,0,0,...,0,NaN,NaN,NaN,NaN,NaN,1,0,0,Wisconsin
14651,0,0,1,0,NaN,NaN,Gillette,Cities,0,1,...,0,"31,884",NaN,NaN,NaN,NaN,0,0,0,Wyoming

Создали новую таблицу, присоединив вторую к первой. Так как индексы не имеют значения, можем ввести общее индексирование для соединенных таблиц.

**Задание 3:** Изучите документации для методов `drop_dublicates` и `dropna`. Используйте метод `dropna` для очистки большой таблицы от пропусков. Что произошло? Почему? Исправьте таблицы, чтобы получить корректный ответ.

In [131]:
app_1.dropna()

Empty DataFrame
Columns: [1st quarter, 2nd quarter, 3rd quarter, 4th quarter, Agency Name, Agency Type, Agency name, Agency type, Disability, Ethnicity, Gender, Gender Identity, Population, Q1, Q2, Q3, Q4, Race, Religion, Sexual orientation, State]
Index: []

[0 rows x 21 columns]

Воспользовавшись dropna, получили пустую таблицу. Это произошло из-за того, что названия колонок исходных таблиц не совпадают, т.е. при совмещении таблиц новые колонки добавлялись, а не объединялись, поэтому они все наполовину пустые. Один из способов решения - объединить собственноручно столбцы, которые по смыслу содержат одинаковую информацию, но отличаются в названии, переименовав их. Затем объединим и используем dropna().

In [279]:
df_tab1re = df_tab1.rename(columns = {'Agency type':'Agency Type', 'Agency name':'Agency Name', '1st quarter':'Q1',
 '2nd quarter':'Q2', '3rd quarter':'Q3', '4th quarter':'Q4'})
df_tab1re

,State,Agency Type,Agency Name,Race,Religion,Sexual orientation,Ethnicity,Disability,Gender,Gender Identity,Q1,Q2,Q3,Q4,Population
0,Alabama,Cities,Florence,2,0,0,0,0,0,0,0,1,0,1,"39,481"
1,Alabama,Cities,Hoover,0,0,1,0,0,0,0,0,1,0,0,"84,139"
2,Alabama,Cities,Prattville,2,0,0,0,0,0,0,1,0,1,0,"35,154"
3,Alabama,Cities,Tuscaloosa,1,0,0,0,0,0,0,0,0,1,0,"94,126"
4,Alaska,Cities,Anchorage,8,0,0,0,0,0,0,2,3,3,0,"299,455"
5,Arizona,Cities,Apache Junction,1,0,0,0,0,0,0,1,0,0,NaN,"36,626"
6,Arizona,Cities,Avondale,4,0,0,1,0,0,0,1,1,3,0,"78,905"
7,Arizona,Cities,Eagar,0,0,0,1,0,0,0,0,1,0,0,"5,034"
8,Arizona,Cities,El Mirage,1,0,0,0,0,0,0,0,0,1,0,"32,837"
9,Arizona,Cities,Gilbert,1,0,0,0,0,0,0,1,0,0,0,"225,232"
10,Arizona,Cities,Glendale,2,3,1,1,0,0,0,2,0,3,2,"234,006"
11,Arizona,Cities,Goodyear,0,0,2,0,0,0,0,1,NaN,1,0,"71,048"
12,Arizona,Cities,Maricopa,1,0,0,0,0,0,0,0,0,0,1,"44,871"
13,Arizona,Cities,Mesa,1,1,0,0,0,0,0,2,0,0,0,"456,155"
14,Arizona,Cities,Phoenix,40,12,14,14,1,0,0,25,21,35,NaN,"1,502,139"
15,Arizona,Cities,Prescott,0,0,0,1,0,0,0,0,0,0,1,"40,752"
16,Arizona,Cities,Scottsdale,0,1,0,1,0,0,0,0,0,0,2,"225,523"
17,Arizona,Cities,Tempe,1,0,2,0,0,0,0,2,0,1,0,"168,501"
18,Arizona,Cities,Tucson,13,6,6,1,0,0,0,8,8,6,4,"525,486"
19,Arizona,Cities,Yuma,3,4,0,3,0,0,0,3,5,0,2,"96,014"
20,Arizona,Universities and Colleges,Northern Arizona University,0,0,1,0,0,0,0,0,0,0,1,"25,991"
21,Arizona,Universities and Colleges,University of Arizona,2,0,0,0,0,0,0,2,0,0,0,"40,223"
22,Arizona,Metropolitan Counties,Cochise,0,1,0,0,0,0,0,0,0,0,1,NaN
23,Arizona,Metropolitan Counties,Maricopa,1,1,0,0,0,0,0,0,NaN,NaN,2,NaN
24,Arizona,Metropolitan Counties,Pima,1,1,1,0,0,0,0,0,0,0,3,NaN
25,Arizona,Metropolitan Counties,Yuma,1,0,0,1,0,0,0,0,1,0,1,NaN
26,Arkansas,Cities,Bentonville,1,0,0,0,0,0,0,0,0,1,0,"39,132"
27,Arkansas,Cities,Berryville,1,0,0,0,0,0,0,0,0,1,0,"5,417"
28,Arkansas,Cities,Cabot,1,0,0,0,0,0,0,0,0,1,0,"24,695"
29,Arkansas,Cities,England,1,0,0,0,0,0,0,0,1,0,0,"2,806"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1796,West_Virginia,Cities,Moundsville,1,0,0,0,0,0,0,0,0,0,1,"9,130"
1797,West_Virginia,Cities,Oak Hill,14,0,0,0,0,0,0,0,6,8,0,"7,709"
1798,West_Virginia,Cities,Wellsburg,1,0,0,0,0,0,0,0,0,1,0,"2,760"
1799,West_Virginia,Metropolitan Counties,Brooke,4,0,0,0,0,0,0,1,1,2,0,NaN
1800,West_Virginia,Metropolitan Counties,Fayette,1,0,1,0,0,0,0,0,0,1,1,NaN
1801,West_Virginia,Metropolitan Counties,Hancock,2,0,0,0,0,0,0,0,0,1,1,NaN
1802,West_Virginia,Nonmetropolitan Counties,Harrison,1,1,2,0,0,0,0,0,0,2,2,NaN
1803,West_Virginia,Nonmetropolitan Counties,McDowell,1,0,0,0,0,0,0,0,1,0,0,NaN
1804,Wisconsin,Cities,Algoma,1,1,0,0,0,0,0,0,0,2,0,"3,143"
1805,Wisconsin,Cities,Appleton,0,0,2,0,0,0,0,0,2,0,0,"73,141"
1806,Wisconsin,Cities,Burlington,1,0,0,0,0,0,0,0,0,0,1,"10,502"
1807,Wisconsin,Cities,Fond du Lac,1,0,0,1,0,0,0,0,1,0,1,"43,042"
1808,Wisconsin,Cities,Green Bay,1,0,1,0,0,0,0,1,0,1,0,"105,107"
1809,Wisconsin,Cities,Janesville,2,0,0,0,0,0,0,0,1,1,0,"63,603"
1810,Wisconsin,Cities,La Crosse,0,0,2,0,0,0,0,0,1,1,0,"51,741"
1811,Wisconsin,Cities,Madison,3,1,3,5,0,0,0,3,5,2,2,"242,523"
1812,Wisconsin,Cities,Merrill,0,0,0,1,0,0,0,0,1,0,0,"9,427"
1813,Wisconsin,Cities,Milwaukee,5,1,3,0,0,0,0,1,3,4,1,"600,805"
1814,Wisconsin,Cities,Oak Creek,0,1,0,1,0,0,0,2,0,0,0,"35,046"
1815,Wisconsin,Cities,River Falls,2,0,0,0,0,0,0,2,0,0,0,"15,227"
1816,Wisconsin,Cities,Sparta,1,0,0,0,0,0,0,0,1,0,0,"9,623"
1817,Wisconsin,Cities,Wausau,1,0,0,0,0,0,0,1,0,0,0,"39,176"
1818,Wisconsin,Universities and Colleges,"University of Wisconsin, Platteville",0,1,2,0,0,0,0,3,0,0,0,"8,668"
1819,Wisconsin,Metropolitan Counties,Dane,1,0,0,0,0,0,0,1,0,0,0,NaN
1820,Wisconsin,Nonmetropolitan Counties,Burnett,0,0,1,0,0,0,0,0,0,0,1,NaN
1821,Wisconsin,Nonmetropolitan Counties,Grant,1,0,0,0,0,0,0,0,1,0,0,NaN
1822,Wisconsin,Nonmetropolitan Counties,Lincoln,0,0,1,0,0,0,0,1,0,0,0,NaN
1823,Wisconsin,Nonmetropolitan Counties,Manitowoc,1,0,0,0,0,0,0,0,1,0,0,NaN
1824,Wisconsin,Nonmetropolitan Counties,Oneida,1,0,0,0,0,0,0,0,1,0,0,NaN
1825,Wyoming,Cities,Gillette,0,0,0,1,0,0,0,0,0,1,0,"31,884"

In [281]:
app_2 = pd.concat([df_tab1re, df_tab2])
app_2.dropna()

,Agency Name,Agency Type,Disability,Ethnicity,Gender,Gender Identity,Population,Q1,Q2,Q3,Q4,Race,Religion,Sexual orientation,State
0,Florence,Cities,0,0,0,0,"39,481",0,1,0,1,2,0,0,Alabama
1,Hoover,Cities,0,0,0,0,"84,139",0,1,0,0,0,0,1,Alabama
2,Prattville,Cities,0,0,0,0,"35,154",1,0,1,0,2,0,0,Alabama
3,Tuscaloosa,Cities,0,0,0,0,"94,126",0,0,1,0,1,0,0,Alabama
4,Anchorage,Cities,0,0,0,0,"299,455",2,3,3,0,8,0,0,Alaska
6,Avondale,Cities,0,1,0,0,"78,905",1,1,3,0,4,0,0,Arizona
7,Eagar,Cities,0,1,0,0,"5,034",0,1,0,0,0,0,0,Arizona
8,El Mirage,Cities,0,0,0,0,"32,837",0,0,1,0,1,0,0,Arizona
9,Gilbert,Cities,0,0,0,0,"225,232",1,0,0,0,1,0,0,Arizona
10,Glendale,Cities,0,1,0,0,"234,006",2,0,3,2,2,3,1,Arizona
12,Maricopa,Cities,0,0,0,0,"44,871",0,0,0,1,1,0,0,Arizona
13,Mesa,Cities,0,0,0,0,"456,155",2,0,0,0,1,1,0,Arizona
15,Prescott,Cities,0,1,0,0,"40,752",0,0,0,1,0,0,0,Arizona
16,Scottsdale,Cities,0,1,0,0,"225,523",0,0,0,2,0,1,0,Arizona
17,Tempe,Cities,0,0,0,0,"168,501",2,0,1,0,1,0,2,Arizona
18,Tucson,Cities,0,1,0,0,"525,486",8,8,6,4,13,6,6,Arizona
19,Yuma,Cities,0,3,0,0,"96,014",3,5,0,2,3,4,0,Arizona
20,Northern Arizona University,Universities and Colleges,0,0,0,0,"25,991",0,0,0,1,0,0,1,Arizona
21,University of Arizona,Universities and Colleges,0,0,0,0,"40,223",2,0,0,0,2,0,0,Arizona
26,Bentonville,Cities,0,0,0,0,"39,132",0,0,1,0,1,0,0,Arkansas
27,Berryville,Cities,0,0,0,0,"5,417",0,0,1,0,1,0,0,Arkansas
28,Cabot,Cities,0,0,0,0,"24,695",0,0,1,0,1,0,0,Arkansas
29,England,Cities,0,0,0,0,"2,806",0,1,0,0,1,0,0,Arkansas
30,Fairfield Bay,Cities,0,0,0,0,"2,295",0,0,1,0,1,0,0,Arkansas
31,Fort Smith,Cities,0,0,0,0,"87,821",0,0,0,2,1,0,1,Arkansas
32,Gurdon,Cities,0,0,0,0,"2,184",1,0,0,0,1,0,0,Arkansas
33,Marion,Cities,0,0,0,0,"12,258",0,0,1,0,0,0,1,Arkansas
34,North Little Rock,Cities,0,0,0,0,"65,398",0,1,0,0,1,0,0,Arkansas
35,Pine Bluff,Cities,0,0,0,0,"46,399",1,0,0,0,0,0,1,Arkansas
36,Rogers,Cities,0,0,0,0,"59,787",0,1,0,0,1,0,0,Arkansas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1761,"Washington State University, Pullman",Universities and Colleges,0,0,0,0,"27,679",0,0,0,1,0,0,1,Washington
1762,Western Washington University,Universities and Colleges,0,0,0,0,"14,833",0,1,0,0,0,0,1,Washington
1787,Barboursville,Cities,0,0,0,0,"4,099",0,1,0,1,2,0,0,West_Virginia
1788,Beckley,Cities,0,0,0,0,"17,593",0,3,1,0,3,0,1,West_Virginia
1789,Buckhannon,Cities,0,0,0,0,"5,649",1,0,0,0,1,0,0,West_Virginia
1790,Charleston,Cities,0,0,0,0,"50,919",1,0,2,4,3,3,1,West_Virginia
1791,Dunbar,Cities,0,0,0,0,"7,834",0,0,0,1,0,0,1,West_Virginia
1792,Fairmont,Cities,0,0,0,0,"18,740",0,2,0,0,1,1,0,West_Virginia
1793,Huntington,Cities,0,1,0,0,"49,172",1,2,5,0,4,1,2,West_Virginia
1794,Martinsburg,Cities,0,0,0,0,"17,589",1,0,0,0,1,0,0,West_Virginia
1795,Morgantown,Cities,0,1,0,0,"31,406",0,0,1,0,0,0,0,West_Virginia
1796,Moundsville,Cities,0,0,0,0,"9,130",0,0,0,1,1,0,0,West_Virginia
1797,Oak Hill,Cities,0,0,0,0,"7,709",0,6,8,0,14,0,0,West_Virginia
1798,Wellsburg,Cities,0,0,0,0,"2,760",0,0,1,0,1,0,0,West_Virginia
1804,Algoma,Cities,0,0,0,0,"3,143",0,0,2,0,1,1,0,Wisconsin
1805,Appleton,Cities,0,0,0,0,"73,141",0,2,0,0,0,0,2,Wisconsin
1806,Burlington,Cities,0,0,0,0,"10,502",0,0,0,1,1,0,0,Wisconsin
1807,Fond du Lac,Cities,0,1,0,0,"43,042",0,1,0,1,1,0,0,Wisconsin
1808,Green Bay,Cities,0,0,0,0,"105,107",1,0,1,0,1,0,1,Wisconsin
1809,Janesville,Cities,0,0,0,0,"63,603",0,1,1,0,2,0,0,Wisconsin
1810,La Crosse,Cities,0,0,0,0,"51,741",0,1,1,0,0,0,2,Wisconsin
1811,Madison,Cities,0,5,0,0,"242,523",3,5,2,2,3,1,3,Wisconsin
1812,Merrill,Cities,0,1,0,0,"9,427",0,1,0,0,0,0,0,Wisconsin
1813,Milwaukee,Cities,0,0,0,0,"600,805",1,3,4,1,5,1,3,Wisconsin
1814,Oak Creek,Cities,0,1,0,0,"35,046",2,0,0,0,0,1,0,Wisconsin
1815,River Falls,Cities,0,0,0,0,"15,227",2,0,0,0,2,0,0,Wisconsin
1816,Sparta,Cities,0,0,0,0,"9,623",0,1,0,0,1,0,0,Wisconsin
1817,Wausau,Cities,0,0,0,0,"39,176",1,0,0,0,1,0,0,Wisconsin
1818,"University of Wisconsin, Platteville",Universities and Colleges,0,0,0,0,"8,668",3,0,0,0,0,1,2,Wisconsin
1825,Gillette,Cities,0,1,0,0,"31,884",0,0,1,0,0,0,0,Wyoming

**Задание 4:** Изучите документации для методов `set_index`, `reset_index` и `pivot_table`. Проиндексируйте общую таблицу по переменным State и Agency Type (одновременно). У вас должен появиться *мультииндекс*.

In [285]:
setidx = app_2.set_index(['State','Agency Type'])
setidx

                                                                    Agency Name  \
State    Agency Type
Alabama  Cities                                                        Florence
         Cities                                                          Hoover
         Cities                                                      Prattville
         Cities                                                      Tuscaloosa
Alaska   Cities                                                       Anchorage
Arizona  Cities                                                 Apache Junction
         Cities                                                        Avondale
         Cities                                                           Eagar
         Cities                                                       El Mirage
         Cities                                                         Gilbert
         Cities                                                        Glendale
         Cities                                                        Goodyear
         Cities                                                        Maricopa
         Cities                                                            Mesa
         Cities                                                         Phoenix
         Cities                                                        Prescott
         Cities                                                      Scottsdale
         Cities                                                           Tempe
         Cities                                                          Tucson
         Cities                                                            Yuma
         Universities and Colleges                  Northern Arizona University
         Universities and Colleges                        University of Arizona
         Metropolitan Counties                                          Cochise
         Metropolitan Counties                                         Maricopa
         Metropolitan Counties                                             Pima
         Metropolitan Counties                                             Yuma
Arkansas Cities                                                     Bentonville
         Cities                                                      Berryville
         Cities                                                           Cabot
         Cities                                                         England
...                                                                         ...
Wyoming  Cities                                                        Sundance
         Cities                                                     Thermopolis
         Cities                                                      Torrington
         Cities                                                       Wheatland
         Cities                                                         Worland
         Universites and Colleges   Northern Wyoming Community College District
         Universites and Colleges                         University of Wyoming
         Metropolitan Counties                                          Laramie
         Metropolitan Counties                                          Natrona
         Nonmetropolitan Counties                                        Albany
         Nonmetropolitan Counties                                      Big Horn
         Nonmetropolitan Counties                                      Campbell
         Nonmetropolitan Counties                                        Carbon
         Nonmetropolitan Counties                                      Converse
         Nonmetropolitan Counties                                         Crook
         Nonmetropolitan Counties                                       Fremont
         Nonmetropolitan Counties                                        Goshen
         Nonmetropolitan Counties                                   Hot Springs
         Nonmetropolitan Counties                                       Johnson
         Nonmetropolitan Counties                                       Lincoln
         Nonmetropolitan Counties                                      Niobrara
         Nonmetropolitan Counties                                          Park
         Nonmetropolitan Counties                                        Platte
         Nonmetropolitan Counties                                      Sheridan
         Nonmetropolitan Counties                                      Sublette
         Nonmetropolitan Counties                                    Sweetwater
         Nonmetropolitan Counties                                         Teton
         Nonmetropolitan Counties                                         Uinta
         Nonmetropolitan Counties                                      Washakie
         Nonmetropolitan Counties                                        Weston

                                    Disability  Ethnicity Gender  \
State    Agency Type
Alabama  Cities                              0          0      0
         Cities                              0          0      0
         Cities                              0          0      0
         Cities                              0          0      0
Alaska   Cities                              0          0      0
Arizona  Cities                              0          0      0
         Cities                              0          1      0
         Cities                              0          1      0
         Cities                              0          0      0
         Cities                              0          0      0
         Cities                              0          1      0
         Cities                              0          0      0
         Cities                              0          0      0
         Cities                              0          0      0
         Cities                              1         14      0
         Cities                              0          1      0
         Cities                              0          1      0
         Cities                              0          0      0
         Cities                              0          1      0
         Cities                              0          3      0
         Universities and Colleges           0          0      0
         Universities and Colleges           0          0      0
         Metropolitan Counties               0          0      0
         Metropolitan Counties               0          0      0
         Metropolitan Counties               0          0      0
         Metropolitan Counties               0          1      0
Arkansas Cities                              0          0      0
         Cities                              0          0      0
         Cities                              0          0      0
         Cities                              0          0      0
...                                        ...        ...    ...
Wyoming  Cities                            NaN        NaN    NaN
         Cities                            NaN        NaN    NaN
         Cities                            NaN        NaN    NaN
         Cities                            NaN        NaN    NaN
         Cities                            NaN        NaN    NaN
         Universites and Colleges          NaN        NaN    NaN
         Universites and Colleges          NaN        NaN    NaN
         Metropolitan Counties             NaN        NaN    NaN
         Metropolitan Counties             NaN        NaN    NaN
         Nonmetropolitan Counties          NaN        NaN    NaN
         Nonmetropolitan Counties          NaN        NaN    NaN
         Nonmetropolitan Counties          NaN        NaN    NaN
         Nonmetropolitan Counties          NaN        NaN    NaN
         Nonmetropolitan Counties          NaN        NaN    NaN
         Nonmetropolitan Counties          NaN        NaN    NaN
         Nonmetropolitan Counties          NaN        NaN    NaN
         Nonmetropolitan Counties          NaN        NaN    NaN
         Nonmetropolitan Counties          NaN        NaN    NaN
         Nonmetropolitan Counties          NaN        NaN    NaN
         Nonmetropolitan Counties          NaN        NaN    NaN
         Nonmetropolitan Counties          NaN        NaN    NaN
         Nonmetropolitan Counties          NaN        NaN    NaN
         Nonmetropolitan Counties          NaN        NaN    NaN
         Nonmetropolitan Counties          NaN        NaN    NaN
         Nonmetropolitan Counties          NaN        NaN    NaN
         Nonmetropolitan Counties          NaN        NaN    NaN
         Nonmetropolitan Counties          NaN        NaN    NaN
         Nonmetropolitan Counties          NaN        NaN    NaN
         Nonmetropolitan Counties          NaN        NaN    NaN
         Nonmetropolitan Counties          NaN        NaN    NaN

                                    Gender Identity Population  Q1  Q2  Q3  \
State    Agency Type
Alabama  Cities                                   0     39,481   0   1   0
         Cities                                   0     84,139   0   1   0
         Cities                                   0     35,154   1   0   1
         Cities                                   0     94,126   0   0   1
Alaska   Cities                                   0    299,455   2   3   3
Arizona  Cities                                   0     36,626   1   0   0
         Cities                                   0     78,905   1   1   3
         Cities                                   0      5,034   0   1   0
         Cities                                   0     32,837   0   0   1
         Cities                                   0    225,232   1   0   0
         Cities                                   0    234,006   2   0   3
         Cities                                   0     71,048   1 NaN   1
         Cities                                   0     44,871   0   0   0
         Cities                                   0    456,155   2   0   0
         Cities                                   0  1,502,139  25  21  35
         Cities                                   0     40,752   0   0   0
         Cities                                   0    225,523   0   0   0
         Cities                                   0    168,501   2   0   1
         Cities                                   0    525,486   8   8   6
         Cities                                   0     96,014   3   5   0
         Universities and Colleges                0     25,991   0   0   0
         Universities and Colleges                0     40,223   2   0   0
         Metropolitan Counties                    0        NaN   0   0   0
         Metropolitan Counties                    0        NaN   0 NaN NaN
         Metropolitan Counties                    0        NaN   0   0   0
         Metropolitan Counties                    0        NaN   0   1   0
Arkansas Cities                                   0     39,132   0   0   1
         Cities                                   0      5,417   0   0   1
         Cities                                   0     24,695   0   0   1
         Cities                                   0      2,806   0   1   0
...                                             ...        ...  ..  ..  ..
Wyoming  Cities                                 NaN      1,221   0   0   0
         Cities                                 NaN      3,023   0   0   0
         Cities                                 NaN      6,797   0   0   0
         Cities                                 NaN      3,644   0   0   0
         Cities                                 NaN      5,441   0   0   0
         Universites and Colleges               NaN      4,236   0   0   0
         Universites and Colleges               NaN     12,903   0   0   0
         Metropolitan Counties                  NaN        NaN   0   0   0
         Metropolitan Counties                  NaN        NaN   0   0   0
         Nonmetropolitan Counties               NaN        NaN   0   0   0
         Nonmetropolitan Counties               NaN        NaN   0   0   0
         Nonmetropolitan Counties               NaN        NaN   0   0   0
         Nonmetropolitan Counties               NaN        NaN   0   0   0
         Nonmetropolitan Counties               NaN        NaN   0   0   0
         Nonmetropolitan Counties               NaN        NaN   0   0   0
         Nonmetropolitan Counties               NaN        NaN   0   0   0
         Nonmetropolitan Counties               NaN        NaN   0   0   0
         Nonmetropolitan Counties               NaN        NaN   0   0   0
         Nonmetropolitan Counties               NaN        NaN   0   0   0
         Nonmetropolitan Counties               NaN        NaN   0   0   0
         Nonmetropolitan Counties               NaN        NaN   0   0   0
         Nonmetropolitan Counties               NaN        NaN   0   0   0
         Nonmetropolitan Counties               NaN        NaN   0   0   0
         Nonmetropolitan Counties               NaN        NaN   0   0   0
         Nonmetropolitan Counties               NaN        NaN   0   0   0
         Nonmetropolitan Counties               NaN        NaN   0   0   0
         Nonmetropolitan Counties               NaN        NaN   0   0   0
         Nonmetropolitan Counties               NaN        NaN   0   0   0
         Nonmetropolitan Counties               NaN        NaN   0   0   0
         Nonmetropolitan Counties               NaN        NaN   0   0   0

                                    Q4  Race  Religion  Sexual orientation
State    Agency Type
Alabama  Cities                      1     2         0                   0
         Cities                      0     0         0                   1
         Cities                      0     2         0                   0
         Cities                      0     1         0                   0
Alaska   Cities                      0     8         0                   0
Arizona  Cities                    NaN     1         0                   0
         Cities                      0     4         0                   0
         Cities                      0     0         0                   0
         Cities                      0     1         0                   0
         Cities                      0     1         0                   0
         Cities                      2     2         3                   1
         Cities                      0     0         0                   2
         Cities                      1     1         0                   0
         Cities                      0     1         1                   0
         Cities                    NaN    40        12                  14
         Cities                      1     0         0                   0
         Cities                      2     0         1                   0
         Cities                      0     1         0                   2
         Cities                      4    13         6                   6
         Cities                      2     3         4                   0
         Universities and Colleges   1     0         0                   1
         Universities and Colleges   0     2         0                   0
         Metropolitan Counties       1     0         1                   0
         Metropolitan Counties       2     1         1                   0
         Metropolitan Counties       3     1         1                   1
         Metropolitan Counties       1     1         0                   0
Arkansas Cities                      0     1         0                   0
         Cities                      0     1         0                   0
         Cities                      0     1         0                   0
         Cities                      0     1         0                   0
...                                 ..   ...       ...                 ...
Wyoming  Cities                      0   NaN       NaN                 NaN
         Cities                      0   NaN       NaN                 NaN
         Cities                      0   NaN       NaN                 NaN
         Cities                      0   NaN       NaN                 NaN
         Cities                      0   NaN       NaN                 NaN
         Universites and Colleges    0   NaN       NaN                 NaN
         Universites and Colleges    0   NaN       NaN                 NaN
         Metropolitan Counties       0   NaN       NaN                 NaN
         Metropolitan Counties       0   NaN       NaN                 NaN
         Nonmetropolitan Counties    0   NaN       NaN                 NaN
         Nonmetropolitan Counties    0   NaN       NaN                 NaN
         Nonmetropolitan Counties    0   NaN       NaN                 NaN
         Nonmetropolitan Counties    0   NaN       NaN                 NaN
         Nonmetropolitan Counties    0   NaN       NaN                 NaN
         Nonmetropolitan Counties    0   NaN       NaN                 NaN
         Nonmetropolitan Counties    0   NaN       NaN                 NaN
         Nonmetropolitan Counties    0   NaN       NaN                 NaN
         Nonmetropolitan Counties    0   NaN       NaN                 NaN
         Nonmetropolitan Counties    0   NaN       NaN                 NaN
         Nonmetropolitan Counties    0   NaN       NaN                 NaN
         Nonmetropolitan Counties    0   NaN       NaN                 NaN
         Nonmetropolitan Counties    0   NaN       NaN                 NaN
         Nonmetropolitan Counties    0   NaN       NaN                 NaN
         Nonmetropolitan Counties    0   NaN       NaN                 NaN
         Nonmetropolitan Counties    0   NaN       NaN                 NaN
         Nonmetropolitan Counties    0   NaN       NaN                 NaN
         Nonmetropolitan Counties    0   NaN       NaN                 NaN
         Nonmetropolitan Counties    0   NaN       NaN                 NaN
         Nonmetropolitan Counties    0   NaN       NaN                 NaN
         Nonmetropolitan Counties    0   NaN       NaN                 NaN

[14652 rows x 13 columns]

**Задание 5:** В Pandas можно идерировать по DataFrame! Ищучите документации для методов `iteritems`, `iterrows`, а так же посмотрите, как можно итерировать по сгруппированным DataFrame'ам. Выделите подтаблицу, состаящую из данных по 3 произвольным штатам и сгруппируйте её по переменным State и Agency Type. С помощью изученных методов (то есть итеративно) выведите суммарную популяцию по каждой паре <Штат>-<Тип>

In [345]:
newtab = setidx.loc[(setidx.index.get_level_values('State') == 'Texas'),
                   (setidx.index.get_level_values('State') == 'Colorado'),
                    (setidx.index.get_level_values('State') == 'California')]

newtab

KeyError: 'Key length (3) exceeds index depth (2)'

## 3. Метод градиентного спуска

Напомним суть метода градиентого спуска в контексте задачи линейной регрессии.

Дано описание $n$ объектов по $m$ признакам. Обычно оно выражается в виде матрицы размера $n \times m$: $X = [x^{(i)}_j]^{i=1\dots n}_{j=1\dots m} $.<br\> ($x^{(i)}_j$ означает $j$-ый признак $i$-го объекта) <br\>
Дана зависимая переменная, которая тоже имеет отношение к этим объекам: $y$ - вектор длины $n$.

Наша задача, выявить **линейную** зависимость между признаками в $X$ и значениями в $y$:
$$\hat{y} = X\beta \quad \Leftrightarrow \quad \hat{y}^{(i)} = \beta_0 + \beta_1x^{(i)}_1 + \dots$$

И сделать это так, чтобы квадрат суммы ошибок наших оценок был минимален:
$$ L(\beta) = \frac{1}{2n}(\hat{y} - y)^{\top}(\hat{y} - y) = \frac{1}{2n}(X\beta - y)^{\top}(X\beta - y) \rightarrow \min$$ $$ \Updownarrow $$  $$ L(\beta_0,\beta_1,\dots) = \frac{1}{2n}\sum^{n}_{i=1}(\hat{y}^{(i)} - y^{(i)})^2 = \frac{1}{2n}\sum^{n}_{i=1}(\beta_0 + \beta_1x^{(i)}_1 + \dots - y^{(i)})^2  \rightarrow \min $$

Значение в $X$ и $y$ нам даны. Нам неизвестны только значения коэффициентов $\beta$.<br\> Соответственно, нужно найти такие значения $\beta$, что функция $L(\beta) \rightarrow \min.$

На семинаре мы выяснили, чему равен градиент функции потерь $L(\beta_0, \beta_1):$
$$ \frac{\partial L}{\partial \beta_0} = \frac{1}{n}\sum^{n}_{i=1}(\beta_0 + \beta_1x^{(i)}_1 - y^{(i)})$$
$$ \frac{\partial L}{\partial \beta_1} = \frac{1}{n}\sum^{n}_{i=1}(\beta_0 + \beta_1x^{(i)}_1 - y^{(i)})x_1^{(i)}$$

Иногда проще это записать в виде матриц:
$$ \frac{\partial L}{\partial \beta} = X^\top(X\beta - y)$$

Метод градиентного спуска заключается в итеративном и **одновременном(!!!)** обновлении значений $\beta$ в направлении, противоположному градиенту:
$$ \beta := \beta - \alpha\frac{\partial L}{\partial \beta}$$

**Задача 1:** Загрузите [данные](http://bit.ly/1gIQs6C) по характеристикам автомобилей Honda Accord. Названия столбцов говорят сами за себя.

Составьте матрицу $X$, состоящую из единичного столбца и признака "пробег". <br\>
Составьте вектор $y$ состоящий из стоимости автомобиля.

Если для импорта вы используете `pandas`, то через .values из DataFrame можно получить numpy array.

In [137]:
df = pd.read_csv("accord_sedan_training.csv")

**Задача 2:** Изобразите функционал квадратичной ошибки $L(\beta_0, \beta_1)$ в 3D и его линии уровня

In [18]:
# Здесь ваш код

**Задача 3:** Напишите код, реализующий метод градиентного спуска. На вход метод должен принимать исходные данные, максимальное кол-во итераций и коэффициент скорости спуска.

In [19]:
# Здесь ваш код

**Задача 4:** Выведите полученные значения коэфициентов $\beta$. <br\>Как они интерпретируются?  <br\>Изобразите на одном графике $[y - \text{"пробег"}]$ точки и полученную прямую.

In [20]:
# Здесь ваш код