In [9]:
import numpy as np
import pandas as pd

import sklearn.metrics as mtr

In [10]:
df = pd.read_csv('classification.csv')

In [27]:
df

     true  pred
0       1     0
1       1     1
2       1     1
3       0     0
4       1     1
5       1     1
6       1     1
7       0     1
8       0     0
9       0     1
10      1     0
11      0     1
12      1     1
13      0     1
14      0     0
15      0     1
16      1     1
17      0     1
18      0     0
19      0     0
20      0     1
21      1     1
22      1     1
23      1     0
24      0     0
25      0     0
26      1     1
27      1     1
28      0     0
29      1     0
..    ...   ...
170     1     1
171     0     0
172     0     0
173     0     0
174     0     0
175     0     0
176     1     0
177     0     1
178     0     0
179     1     0
180     0     1
181     0     0
182     0     0
183     1     0
184     0     1
185     0     0
186     1     0
187     1     0
188     0     0
189     1     0
190     1     0
191     1     0
192     1     0
193     1     1
194     1     0
195     0     0
196     0     0
197     1     0
198     0     1
199     0     0

[200 rows x 2 columns]

In [32]:
TP = len(df[(df['true'] == 1) & (df['pred'] == 1)])
FP = len(df[(df['true'] == 0) & (df['pred'] == 1)])
FN = len(df[(df['true'] == 1) & (df['pred'] == 0)])
TN = len(df[(df['true'] == 0) & (df['pred'] == 0)])
print(TP, FP, FN, TN)

43 34 59 64

In [15]:
accuracy = mtr.accuracy_score(df['true'], df['pred'])
precision = mtr.precision_score(df['true'], df['pred'])
recall = mtr.recall_score(df['true'], df['pred'])
F1 = mtr.f1_score(df['true'], df['pred'])
print('{:.2f} {:.2f} {:.2f} {:.2f}'.format(accuracy, precision, recall, F1))

0.54 0.56 0.42 0.48

In [17]:
df1 = pd.read_csv('scores.csv')
df1.head()

   true  score_logreg  score_svm  score_knn  score_tree
0     0      0.683832   0.145976   0.787063    0.500000
1     1      0.801966   0.239511   1.000000    0.833333
2     0      0.382315  -0.245701   0.000000    0.000000
3     1      0.506797  -0.137058   0.000000    0.105263
4     1      0.488781  -0.154148   0.000000    0.105263

In [25]:
for col in df1.columns:
    print('{:} {:.2f}'.format(col, mtr.roc_auc_score(df1['true'], df1[col]))

true 1.0
score_logreg 0.71918767507
score_svm 0.708683473389
score_knn 0.635154061625
score_tree 0.691926770708

In [26]:
for col in df1.columns:
    precision, recall, thresholds = mtr.precision_recall_curve(df1['true'], df1[col])
    print(col, max([precision[i] for i, r in enumerate(recall) if r >= 0.7]))

true 1.0
score_logreg 0.63025210084
score_svm 0.622807017544
score_knn 0.606557377049
score_tree 0.651785714286